/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
        margin: 18px 10px 15px;
        background: #FDC400;
        display: block;
        position: relative;
        -webkit-backface-visibility: visible;
        transition: opacity 200ms ease;
        z-index: 10;
        border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        width: 12px;
        height: 12px;
        margin: 18px 10px 15px;
        padding: 0;
        position: relative;
        border: 2px solid #EF4326;
        background: #FDC400;
        z-index: 10; }
#price-slider .owl-dots {
    display: block;
    position: absolute;
    top:0;
    text-align: center;
    width: 100%;
    background: #ffffff;
    border-radius: 6px;
    height:50px;
    -webkit-box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
    -moz-box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
    box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
}
#price-slider .owl-dots:before {
    display: block;
    position: absolute;
    float: left;
    content: "";
    background: #EF4326;
    width: 92%;
    left: 50%;
    margin-left: -46%;
    height: 10px;
    top:19px;
    z-index: 1;
    border-radius: 15px;
}
#price-slider button {
  background: transparent;
  border: transparent;
}
#price-slider .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 18px 10px 15px;
    background: #ffffff;
    display: block;
    position: relative;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    z-index: 10;
    border-radius: 30px; }
#price-slider .owl-dot.active span, #price-slider  .owl-dot:hover span {
    width: 12px;
    height: 12px;
    margin: 18px 10px 15px;
    padding: 0;
    position: relative;
    border: 2px solid #EF4326;
    background: #FDC400;
    z-index: 10;
     }
     #price-slider .owl-dot.active span::before {
      width: 20px;
      height: 20px;
      content: "";
      display: block;
      position: absolute;
      border-radius: 50%;
      top: -24px;
      left: -16px;
      margin: 18px 10px 15px;
      padding: 0;
      position: relative;
      border: 2px solid #EF4326;
      background: #FDC400;
      z-index: 10;
       }
