@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap');

.wrapper {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: #F6F8F9;
}
.wrapper-basic {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: #FAF1E5;
}
.header-menu {
    display: block;
    position: relative;
    float: right;
}
.sticky-active {
    display: block;
    position: fixed;
    background: #FAF1E5;
    -webkit-box-shadow: 0px 2px 40px 0px rgba(255,67,7,0.16);
    -moz-box-shadow: 0px 2px 40px 0px rgba(255,67,7,0.16);
    box-shadow: 0px 2px 40px 0px rgba(255,67,7,0.16);
}
.sticky-active .navbar-light .navbar-nav .nav-link {
    font-weight: 700;
    color: #000000;
}
.sticky-active .navbar-light .navbar-nav .nav-link:hover {
    font-weight: 700;
    color: #EF4326;
}
.sticky-active .logo {
    content: url("../img/logo.svg");
}
.sticky-active .navbar-light {
    background: #FAF1E5 !important;
}
.header-menu li {
    display: inline-block;
    position: relative;
    float: left;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}
.header-link {
    color: #ffffff;
    margin-top: 9px;
    display: inline-block;
    position: relative;
    float: left;
    text-decoration: none;
}
header {
    display: block;
    position: absolute;
    float: left;
    width: 100%;
    z-index: 10;
    padding: 14px 0px 7px;
}
.logo {
    display: block;
    position: relative;
    float: left;
    height: 40px;
}
.main-screen--background {
    display: block;
    position: absolute;
    float: left;
    width: 100%;
    z-index: 1;
}
.main-z {
    display: block;
    position: relative;
    z-index: 3;
}
.screen-01 {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    min-height: 100vh;
    z-index: 3;
    background: url("../img/mainscreen-bg.svg") no-repeat top center;
    background-size: contain;
    padding: 150px 0px 300px;
}
.subtitle {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #ffffff;
}
.mainscreen-text {
    display: block;
    position: relative;
    float: left;
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-right: 10%;
}
.scroll-down-btn {
    display: block;
    position: absolute;
    float: left;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-top: 60px;
    margin-left: -23px;
    cursor: pointer;
    background: url("../img/arrow-down-btn.svg") no-repeat top center;
    background-size: 46px 46px;
}
.h2-second {
    font-size: 3rem;
    margin-bottom: 60px;
    font-weight: 600;
    line-height: 1.2;
}
.screen-02 {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    z-index: 2;
    background: url("../img/screen-02-bg.svg") no-repeat bottom center;
    background-size: contain;
}
.screen-02--img-card-a {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 17px 13px;
    border-radius: 30px;
    background: #ffffff;
    -webkit-box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
    -moz-box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
    box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
}
.screen-02--img-card {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    border-radius: 30px;
    -webkit-box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
    -moz-box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
    box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
}
.img-h-236 {
    height: 191px;
}
.screen-02--header {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #EF4326;
}
.screen-02--desc {
    font-size: 16px;
    line-height: 28px;
    color: #505050;
    text-align: left;
    font-weight: 300;
}
.screen-02--pl-80 {
    padding-left: 100px !important;
}
.screen-02--pr-80 {
    padding-right: 100px !important;
}
.screen-02--mb-138 {
    margin-bottom: 138px;
}

.screen-03 {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: url("../img/screen-03-bg.svg") no-repeat right center #FAF1E5;
    padding: 60px 0px 117px;
}
.yellow-header {
    display: inline-block;
    position: relative;
    float: none;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.2;
    text-align: center;
    color: #FDC400;
}
.yellow-header::before {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 40px;
    top: 2px;
    left: -40px;
    background: #EF4326;
}
.yellow-header::after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 40px;
    top: 2px;
    right: -40px;
    background: #EF4326;
}

.screen-03-header {
    display: block;
    position: relative;
    float: none;
    margin: 20px auto 40px;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #707070;
}
.screen-03--card-box {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    background: #ffffff;
    -webkit-box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
    -moz-box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
    box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
    padding: 41px 15px 30px;
    border-radius: 6px;
}
.screen-03--title {
    font-size: 20px;
    line-height: 24px;
    color: #EF4326;
    margin: 20px auto;
}
.screen-03--icons {
    display: block;
    position: relative;
    float: none;
    height: 107px;
    margin: 0 auto;
}
.screen-03--icons-w-167 {
    display: block;
    position: relative;
    float: none;
    width: 167px;
    margin: 0 auto;
}
.screen-03--desc {
    color: #505050;
    text-align: center;
    font-size: 17px;
    line-height: 19px;
    font-weight: 300;
}
.grid-item { width: 33.33333%;padding:0px 15px;margin-bottom: 30px; }
.grid-item--width2 { width: 33.33333%;margin-top: 50px; }

.screen-04 {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: #FAF1E5;
}
.screen-04-header {
    display: block;
    position: relative;
    float: left;
    margin: 30px auto 50px;
    padding-left: 60px;
    font-size: 25px;
    line-height: 29px;
    text-align: left;
    color: #707070;
}
.yellow-header-left {
    display: inline-block;
    position: relative;
    float: none;
    margin-left: 100px;
    margin-top: 50px;
    font-weight: 600;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    color: #FDC400;
}
.yellow-header-left::before {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 40px;
    top: 2px;
    left: -40px;
    background: #EF4326;
}
.yellow-header-left::after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 40px;
    top: 2px;
    right: -40px;
    background: #EF4326;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch-tab {
    display: inline-block;
    position: relative;
    list-style: none;
}
.switch-link {
    color: #505050;
    font-size: 15px;
    text-decoration: none;
}
.switch-link.active::before {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background: #EF4326;
    border-radius: 50%;
    content: "";
    left: 3px;
}
.switch-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
}
.switch-an::before {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top:-3px;
    border-radius: 15px 15px 0px 0px;
    content: "";
    border-left: 3px solid #FDC400;
    border-right: 3px solid #FDC400;
    border-top: 3px solid #FDC400;
}
.switch-mo::before {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    bottom:-6px;
    border-radius: 0px 0px 15px 15px;
    content: "";
    border-left: 3px solid #FDC400;
    border-right: 3px solid #FDC400;
    border-bottom: 3px solid #FDC400;
}

.screen-04--price-title {
    color: #EF4326;
    font-size: 21px;
    display: block;
    position: relative;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.screen-04--price-list {
    display: block;
    position: relative;
    float: left;
    list-style: none;
    padding: 0;
    padding-inline-start: 0px;
    -moz-padding-start: 0px;
    -webkit-padding-start: 0px;
    -khtml-padding-start: 0px;
    -o-padding-start: 0px;
}
.screen-04--price-list li {
    background: url("../img/check.svg") no-repeat top left;
    background-size: 20px 20px;
    padding-left: 30px;
    margin-top: 10px;
    font-size: 16px;
    color: #505050;
}
.screen-04--price-box {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    margin-top: 50px;
    padding: 20px 10px 5px;
    border-radius: 15px;
    border: 2px dashed transparent;
    transition: all 0.3s;
    cursor: pointer;
}
.screen-04--price-line {
    display: block;
    position: relative;
    float: left;
    width: 98%;
    left: 50%;
    margin-left:-49%;
    height: 8px;
    border-radius: 15px;
    background: #EF4326;
    margin-bottom: -10px;
}
.screen-04--price-line-point {
    display: inline-block;
    position: relative;
    float: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FDC400;
    margin: 0;
    line-height: 0;
    top:12px;
    cursor: pointer;
    transition: all 0.2s;
}
.screen-04--price-line-point:hover {
    width: 15px;
    top:12px;
    height: 15px;
    background:#EF4326;
    border: 8px solid #FDC400;
}
.item-1.active .screen-04--price-box,
.item-2.active .screen-04--price-box,
.item-3.active .screen-04--price-box,
.item-4.active .screen-04--price-box,
.item-5.active .screen-04--price-box {
    border: 2px dashed #C7C7C7;
}
.item-1.active .item-l-1,
.item-2.active .item-l-2,
.item-3.active .item-l-3,
.item-4.active .item-l-4,
.item-5.active .item-l-5 {
    width: 15px;
    top:14px;
    height: 15px;
    background:#EF4326;
    border: 4px solid #FDC400;
}
.item-1.active .screen-04--price-line-point::before,
.item-2.active .screen-04--price-line-point::before,
.item-3.active .screen-04--price-line-point::before,
.item-4.active .screen-04--price-line-point::before,
.item-5.active .screen-04--price-line-point::before {
    width: 30px;
    top:14px;
    display: block;
    position: absolute;
    content: "";
    height: 30px;
    border-radius: 50%;
    top: -11px;
    left: -12px;
    background:#EF4326;
    border: 4px solid #FDC400;
}
.item-1.active .screen-04--price-title,
.item-2.active .screen-04--price-title,
.item-3.active .screen-04--price-title,
.item-4.active .screen-04--price-title,
.item-5.active .screen-04--price-title {
    color: #FDC400;
}
.item-1:hover .item-l-1,
.item-2:hover .item-l-2,
.item-3:hover .item-l-3,
.item-4:hover .item-l-4,
.item-5:hover .item-l-5 {
    width: 15px;
    top:14px;
    height: 15px;
    background:#EF4326;
    border: 4px solid #FDC400;
}


.item-1:hover .screen-04--price-title,
.item-2:hover .screen-04--price-title,
.item-3:hover .screen-04--price-title,
.item-4:hover .screen-04--price-title,
.item-5:hover .screen-04--price-title {
    color: #FDC400;
}
.screen-04--price-box:hover {
    border: 2px dashed #C7C7C7;
}
.screen-04--price-box:active, .screen-04--price-box.active {
    border: 2px dashed #C7C7C7;
}
.screen-04-footer .col {
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}
.screen-04--plans-title {
    color: #EF4326;
    font-size: 20px;
    font-weight: 300;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
.screen-04--price-block {
    display: block;
    position: relative;
    float: left;
    font-size: 24px;
    font-weight: 600;
    color: #FDC400;
}
.screen-04--price-line-bg {
    display: block;
    position: absolute;
    padding: 21px 0px;
    top:0;
    text-align: center;
    width: 100%;
    background: #ffffff;
    border-radius: 6px;
    height:50px;
    -webkit-box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
    -moz-box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
    box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
}
.screen-04-footer {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: url("../img/screen-04-bg-footer.svg") no-repeat bottom center #FAF1E5;
    background-size: contain;
    padding: 60px 0px 60px;
}
.screen-06 {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: url("../img/faq-bg.svg") no-repeat  #F6F8F9;
    background-position: 93% 50%;
    padding: 100px 0px;
}
.screen-06--header {
    display: block;
    position: relative;
    float: left;
    margin: 30px auto 50px;
    padding-left: 0px;
    font-size: 25px;
    clear: both;
    line-height: 29px;
    text-align: left;
    color: #707070;
}
.screen-06--header-left {
    display: inline-block;
    position: relative;
    float: left;
    margin-left: 40px;
    margin-top: 50px;
    font-weight: 600;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    color: #FDC400;
}
.screen-06--header-left::before {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 40px;
    top: 2px;
    left: -40px;
    background: #EF4326;
}
.screen-06--header-left::after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 40px;
    top: 2px;
    right: -40px;
    background: #EF4326;
}
.accordion-title {
    font-weight: 600;
    font-size: 20px;
    color: #EF4326;
    text-align: center;
    display: block;
    position: relative;
    float: none;
    padding: 5px 0px;
    cursor: pointer;
}
.accordion-title::after {
    display: block;
    position: absolute;
    float: right;
    content: url("../img/minus.svg");
    right: -19px;
    top:0px;
}
.collapsed.accordion-title::after {
    display: block;
    position: absolute;
    float: right;
    content: url("../img/plus.svg");
    right: -19px;
    top:8px;
}

.screen-07 {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 70px 0;
    background: url("../img/screen-07-bg.png") no-repeat top center #FAF1E5;
    background-size: contain;
    background-position: 50% -1px;
}
.screen-07--review-box {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: #FFFFFF;
    padding: 20px 15px 70px;
    border-radius: 6px;
    margin-bottom: 100px;
    min-height: 250px;
    font-weight: 300;
    -webkit-box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
    -moz-box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
    box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
}
.screen-07--review-ava-block {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
}
.screen-07--review-ava {
    width: 80px !important;
    position: relative;
    float: none;
    display: inline-block;
    margin: 0 auto 10px;
    border-radius: 50%;
}
.screen-07--review-name {
    font-size: 19px;
    color: #EF4326;
    font-weight: 600;
    text-align: center;
    display: block;
    position: relative;
    float: left;
    width: 100%;
}
.screen-07--review-org {
    font-size: 19px;
    color: #919191;
    text-align: center;
    display: block;
    position: relative;
    float: left;
    width: 100%;
}
.screen-07--header {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    font-size: 29px;
    font-weight: 300;
    color: #505050;
}
.screen-07--sub {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 40px;
    color: #FDC400;
    margin-bottom: 80px;
}
.screen-07--logo {
    display: inline-block;
    position: relative;
    float: none;
    margin-top: 90px;
    width: 200px;
    margin-bottom: 30px;
}
.screen-08 {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 0px 0px 80px;
    background: url("../img/screen-08-bg.svg") no-repeat top center #FAF1E5;
    background-size: 100%;
}
.screen-08--box {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 50px 60px;
    background: #ffffff;
    border-radius: 24px;
    -webkit-box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
    -moz-box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
    box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
}
.contact-header {
    display: block;
    position: relative;
    float: left;
    font-weight: 600;
    font-size: 23px;
    color: #EF4326;
    line-height: 26px;
    width: 100%;
    margin-bottom: 10px;
}
.contact-sub-header {
    font-weight: 600;
    font-size: 19px;
    color: #FDC400;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.contact-desc {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: #707070;
    margin-bottom: 40px;
}
.contact-desc a {
    color: #EF4326;
    text-decoration: none;
}
.contact-desc a:hover {
    color: #FDC400;
    text-decoration: none;
}
.contact-img {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}
textarea {
    resize: none;
}

footer {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 0;
    background: #FAF1E5;
    background-size: 100%;
}
.footer-z-block {
    display: block;
    position: absolute;
    float: left;
    width: 100%;
    padding: 60px 0px 0px;
    z-index: 2;
}
.footer-bg {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}
.footer-logo {
    display: block;
    position: relative;
    float: left;
    height: 53px;
    margin-bottom: 20px;
}
.footer-text {
    color: #E9EEFE;
    font-size: 14px;
}
.footer-text a {
    color: #E9EEFE;
    text-decoration: none;
}
.footer-text a:hover {
    color: #E9EEFE;
    text-decoration: none;
}
.footer-link {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
    display: inline-block;
    position: relative;
    float: left;
    clear: both;
}
.footer-link:hover {
    color: #ffffff;
    text-decoration: none;
}
.social-block {
    display: inline-block;
    position: absolute;
    float: right;
    bottom: 0;
    right: 15px;
    width: auto;
}
.social-block-header {
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    display: inline-block;
    clear: both;
    font-weight: 600;
}

/* LOGIN PAGE */
.login-screen {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: url("../img/login-bg.jpg") no-repeat top center;
    background-size: cover;
    padding: 130px 0px 60px;
}
.header-black {
    background: #2E2D2D;
    position: fixed;
}
.user-login {
    display: inline-block;
    float: left;
    position: relative;
    margin-right: 12px;
    width: 30px;
    top:-5px;
}
.login-screen--block-auth {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: #ffffff;
    border-radius: 15px;
    padding: 30px 40px 10px;
}
.login-screen--logo {
    width: 231px;
    display: block;
    position: relative;
    float: none;
    margin: 0 auto 20px;
}
.login-screen--subtitle {
    font-size: 12px;
    font-weight: 700;
    color: #EF4326;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.user-btn .nav-link {
    margin-left: 0px;
}
.login-screen--privacy-link-block {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    padding: 16px 0px 0px;
}
.login-screen--privacy-link {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}
.login-screen--privacy-link:hover {
    color: #FDC400;
    text-align: center;
    text-decoration: none;
}

/* BASIC PAGE*/
.basic-page {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: url("../img/basic-page-bg.svg") no-repeat top center #FAF1E5;
    background-size: 100%;
    padding-top: 140px;
    padding-bottom: 40px;
    border-radius: 0px 0px 55px 55px;
}
.basic-page--main-title {
    font-weight: 700;
    font-size: 28px !important;
    text-align: center;
}
.basic-page--main-title small {
    font-size: 50%;
    font-weight: 300;
}
.basic-page--content {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: #FAF1E5;
    padding: 80px 0px;
}
.basic-page--content-box {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.basic-page--content-header {
    font-weight: 600;
    font-size: 20px;
    color: #EF4326;
    text-align: left;
    display: block;
    position: relative;
    float: none;
    padding: 5px 0px;
}
.basic-page--content-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.basic-page--content-text a {
    font-weight: 600;
    color: #EF4326;
    text-decoration: none;
}
.basic-page--content-text a:hover {
    font-weight: 600;
    color: #FDC400;
    text-decoration: none;
}

@media (min-width: 1367px) {
    .login-screen {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        background: url("../img/login-bg.jpg") no-repeat top center;
        background-size: cover;
        padding: 200px 0px 60px;
    }
    .screen-01 {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        min-height: 120vh;
        z-index: 3;
        background: url("../img/mainscreen-bg.svg") no-repeat top center;
        background-size: cover;
        padding: 230px 0px 300px;
    }
    .footer-z-block {
        display: block;
        position: absolute;
        float: left;
        width: 100%;
        padding: 128px 0px 0px;
        z-index: 2;
    }
}
@media (min-width: 576px) and (max-width: 1024px) {
    header {
        display: none;
    }
    .basic-page {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        background: url("../img/basic-page-bg-t.svg") no-repeat top center #FAF1E5;
        background-size: 100%;
        padding-top: 80px;
        padding-bottom: 40px;
        border-radius: 0px 0px 25px 25px;
    }
    .screen-01 {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        min-height: 800px;
        z-index: 3;
        background: url("../img/768.svg") no-repeat top center;
        background-size: cover;
        padding: 230px 0px 300px;
    }
    .footer-logo {
        display: block;
        position: relative;
        float: left;
        height: 30px;
        margin-bottom: 10px;
    }
    .footer-z-block {
        display: block;
        position: absolute;
        float: left;
        width: 100%;
        padding: 30px 0px 0px;
        z-index: 2;
    }
    .footer-text {
        color: #E9EEFE;
        font-size: 10px;
        margin-bottom: 10px;
    }
    .social-footer-icon {
        height: 20px;
    }
    .footer-link {
        font-size: 10px;
        font-weight: 600;
        color: #ffffff;
        text-align: left;
        display: inline-block;
        position: relative;
        float: left;
        clear: both;
    }
    .screen-04--price-list li {
        background: url("../img/check.svg") no-repeat top left;
        background-size: 12px 12px;
        padding-left: 20px;
        margin-top: 5px;
        font-size: 12px;
        color: #505050;
    }
    .screen-04-header {
        display: block;
        position: relative;
        float: left;
        margin: 30px auto 50px;
        padding-left: 20px;
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        color: #707070;
    }
    .yellow-header-left {
        display: inline-block;
        position: relative;
        float: none;
        margin-left: 60px;
        margin-top: 0px;
        font-weight: 600;
        font-size: 42px;
        line-height: 48px;
        text-align: center;
        color: #FDC400;
    }
    .grid-item--width2 {
        width: 33.33333%;
        margin-top: 50px;
    }
    .grid-item {
        width: 33.33333%;
        padding: 0px 5px;
        margin-bottom: 30px;
    }
    .mobile-menu {
        display: block !important;
        position: absolute;
        float: left;
        width: 100%;
        padding: 10px 0px;
        z-index: 10;
    }
    .mobile-link-block {
        display: inline-block;
        position: absolute;
        float: none;
        right: 70px;
        padding-left: 42px;
        padding-top: 2px;
        margin-top: 4px;
    }
    .mobile-link-block-open {
        display: inline-block;
        position: relative;
        float: none;
        padding-left: 20px;
        padding-top: 2px;
        margin-top: 30px;
    }
    .menu-burger {
        display: block;
        position: relative;
        float: right;
        width: 40px;
        height: 40px;
        background: url("../img/burger-menu.svg") no-repeat top center;
        background-size: 40px 40px;
        margin-top: 4px;
        cursor: pointer;
    }
    .sticky-active {
        display: none;
    }
    .mobile-logo {
        display: inline-block;
        position: relative;
        float: left;
        margin-top: 5px;
    }
    .mobile-header-link {
        font-weight: 700;
        color: #ffffff;
        font-size: 0.8rem;
        text-align: left;
        line-height: 1.5;
    }
    .mobile-header-link-login {
        font-weight: 700;
        color: #EF4326;
        font-size: 0.8rem;
        text-align: left;
        line-height: 1.5;
        padding-right: 5px;
    }
    .mobile-navigation-block {
        display: block;
        position: absolute;
        float: left;
        width: 100%;
        background: url("../img/base.png") no-repeat top center;
        background-size: cover;
        border-radius: 25px;
        padding: 20px;
        bottom: 0;
    }
    .logo {
        /*content: url("../img/logo.svg");*/
        height: 30px;
    }
    .mobile-close-btn {
        display: block;
        position: relative;
        float: right;
        width: 40px;
        height: 40px;
        background: url("../img/burger-close.svg") no-repeat top center;
        background-size: 40px 40px;
        margin-top: 4px;
        cursor: pointer;
    }
    .mobile-navigation-menu {
        display: block;
        position: relative;
        float: left;
        list-style: none;
        padding: 0;
        -webkit-padding-start: 17px;
    }
    .mobile-navigation-menu li {
        padding: 5px 0px;
    }
    .mobile-navigation-menu li a {
        color: #EF4326;
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: 700;
        line-height: 1.5;
    }
    .mobile-soc-left {
        display: block;
        position: relative;
        float: left;
        padding-left: 17px;
    }
    .mobile-soc-right {
        display: block;
        position: relative;
        float: right;
        padding-right: 17px;
    }
    .mobile-soc-center {
        display: block;
        position: relative;
        margin: 0 auto;
        float: none;
    }
    .sticky-mobile {
        display: block;
        position: fixed;
        background: #FAF1E5;
        -webkit-box-shadow: 0px 2px 40px 0px rgba(255,67,7,0.16);
        -moz-box-shadow: 0px 2px 40px 0px rgba(255,67,7,0.16);
        box-shadow: 0px 2px 40px 0px rgba(255,67,7,0.16);
    }
    .sticky-mobile .logo {
        content: url("../img/logo.svg");
    }
    .sticky-mobile .mobile-header-link {
        color: #212121;
    }
    .sticky-mobile .menu-burger {
        background: url("../img/burger-menu-red.svg") no-repeat top center;
        background-size: 40px 40px;
    }
    .sticky-mobile .btn-light {
        color: #fff;
        background-color: #EF4326;
        border-color: #EF4326;
    }
    .sticky-mobile .btn-light:hover {
        color: #fff;
        background-color: #FDC400;
        border-color: #FDC400;
    }
}
@media (min-width: 320px) and (max-width: 576px) {
    .margin-btn-m {
        margin-bottom: 30px;
    }
    .screen-01 {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        min-height: 800px;
        z-index: 3;
        background: url("../img/345.svg") no-repeat top center;
        background-size: cover;
        padding: 150px 0px 300px;
    }
    .basic-page {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        background: url("../img/basic-page-bg-m.svg") no-repeat top center #FAF1E5;
        background-size: 100%;
        padding-top: 80px;
        padding-bottom: 40px;
        border-radius: 0px 0px 25px 25px;
    }
    .screen-02--pl-80 {
        margin-top: 30px;
        padding-left: 0px !important;
    }
    .screen-08--box {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        padding: 15px 20px;
        background: #ffffff;
        border-radius: 24px;
        -webkit-box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
        -moz-box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
        box-shadow: 0px 9px 24px 0px rgba(255,67,7,0.16);
    }
    .grid-item--width2 {
        width: 100%;
        margin-top: 0px;
    }
    .grid-item {
        width: 100%;
        padding: 0px 5px;
        margin-bottom: 30px;
    }
    header {
        display: none;
        position: absolute;
        float: left;
        width: 100%;
        z-index: 10;
        padding: 0px 0px 20px;
    }
    .navbar-light {
        border-radius: 0px 0px 15px 15px;
        padding: 15px 15px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-weight: 700;
        color: #EF4326;
    }
    .screen-02--pr-80 {
        margin-top: 30px;
        padding-right: 0px!important;
    }
    .navbar-nav {
        margin-top: 20px;
    }
    .navbar-nav .nav-item {
        padding: 5px 0px;
    }
    .screen-04--plans-title {
        margin-top: 30px;
    }
    .screen-06--header-left {
        font-size: 20px;
    }
    .screen-02--mb-138 {
        margin-bottom: 50px;
    }
    .navbar-nav .btn {
        margin-top: 10px!important;
    }
    .screen-02 {
        padding: 100px 0px;
    }

    .screen-06--header-left::before {
        content: "";
        display: block;
        position: absolute;
        width: 4px;
        height: 40px;
        top: 2px;
        left: -20px;
        background: #EF4326;
    }
    .screen-06--header-left::after {
        content: "";
        display: block;
        position: absolute;
        width: 4px;
        height: 40px;
        top: 2px;
        right: -20px;
        background: #EF4326;
    }
    .bg-light {
        background-color: #FAF1E5 !important;
    }
    .yellow-header {
        display: inline-block;
        position: relative;
        float: none;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        color: #FDC400;
    }
    .yellow-header::before {
        content: "";
        display: block;
        position: absolute;
        width: 4px;
        height: 40px;
        top: 2px;
        left: -20px;
        background: #EF4326;
    }
    .yellow-header::after {
        content: "";
        display: block;
        position: absolute;
        width: 4px;
        height: 40px;
        top: 2px;
        right: -20px;
        background: #EF4326;
    }
    .yellow-header-left {
        display: inline-block;
        position: relative;
        float: none;
        margin: 0 auto;
        margin-left: 20px;
        font-weight: 600;
        font-size: 20px;
        line-height: 48px;
        text-align: center;
        color: #FDC400;
    }
    .yellow-header-left::before {
        content: "";
        display: block;
        position: absolute;
        width: 4px;
        height: 40px;
        top: 2px;
        left: -20px;
        background: #EF4326;
    }
    .yellow-header-left::after {
        content: "";
        display: block;
        position: absolute;
        width: 4px;
        height: 40px;
        top: 2px;
        right: -20px;
        background: #EF4326;
    }
    .screen-04-header {
        display: block;
        position: relative;
        float: left;
        margin: 30px auto 50px;
        padding-left: 0px;
        font-size: 25px;
        line-height: 29px;
        text-align: left;
        color: #707070;
    }
    .footer-bg {
        display: none;
    }
    footer {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        padding: 0;
        background: url("../img/footer-bg-m.png") top center;
        background-size: cover;
    }
    .footer-z-block {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        padding: 60px 0px 0px;
        z-index: 2;
    }
    .social-block {
        display: inline-block;
        position: relative;
        float: none;
        margin: 20px auto;
        text-align: center;
        width: 100%;
        bottom: 0;
        right: 0px;
    }
    .contact-img {
        margin-bottom: 20px;
    }
    .mobile-menu {
        display: block !important;
        position: absolute;
        float: left;
        width: 100%;
        padding: 10px 0px;
        z-index: 10;
    }
    .mobile-link-block {
        display: inline-block;
        position: absolute;
        float: none;
        right: 70px;
        padding-left: 42px;
        padding-top: 2px;
        margin-top: 4px;
    }
    .mobile-link-block-open {
        display: inline-block;
        position: relative;
        float: none;
        padding-left: 20px;
        padding-top: 2px;
        margin-top: 30px;
    }
    .menu-burger {
        display: block;
        position: relative;
        float: right;
        width: 40px;
        height: 40px;
        background: url("../img/burger-menu.svg") no-repeat top center;
        background-size: 40px 40px;
        margin-top: 4px;
        cursor: pointer;
    }
    .sticky-active {
        display: none;
    }
    .mobile-logo {
        display: inline-block;
        position: relative;
        float: left;
        margin-top: 5px;
    }
    .mobile-header-link {
        font-weight: 700;
        color: #ffffff;
        font-size: 0.8rem;
        text-align: left;
        line-height: 1.5;
    }
    .mobile-header-link-login {
        font-weight: 700;
        color: #EF4326;
        font-size: 0.8rem;
        text-align: left;
        line-height: 1.5;
        padding-right: 5px;
    }
    .mobile-navigation-block {
        display: block;
        position: absolute;
        float: left;
        width: 100%;
        background: url("../img/base.png") no-repeat top center;
        background-size: cover;
        border-radius: 25px;
        padding: 20px;
        bottom: 0;
    }
    .logo {
        /*content: url("../img/logo.svg");*/
        height: 30px;
    }
    .mobile-close-btn {
        display: block;
        position: relative;
        float: right;
        width: 40px;
        height: 40px;
        background: url("../img/burger-close.svg") no-repeat top center;
        background-size: 40px 40px;
        margin-top: 4px;
        cursor: pointer;
    }
    .mobile-navigation-menu {
        display: block;
        position: relative;
        float: left;
        list-style: none;
        padding: 0;
        -webkit-padding-start: 17px;
    }
    .mobile-navigation-menu li {
        padding: 5px 0px;
    }
    .mobile-navigation-menu li a {
        color: #EF4326;
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: 700;
        line-height: 1.5;
    }
    .mobile-soc-left {
        display: block;
        position: relative;
        float: left;
        padding-left: 17px;
    }
    .mobile-soc-right {
        display: block;
        position: relative;
        float: right;
        padding-right: 17px;
    }
    .mobile-soc-center {
        display: block;
        position: relative;
        margin: 0 auto;
        float: none;
    }
    .sticky-mobile {
        display: block;
        position: fixed;
        background: #FAF1E5;
        -webkit-box-shadow: 0px 2px 40px 0px rgba(255,67,7,0.16);
        -moz-box-shadow: 0px 2px 40px 0px rgba(255,67,7,0.16);
        box-shadow: 0px 2px 40px 0px rgba(255,67,7,0.16);
    }
    .sticky-mobile .logo {
        content: url("../img/logo.svg");
    }
    .sticky-mobile .mobile-header-link {
        color: #212121;
    }
    .sticky-mobile .menu-burger {
        background: url("../img/burger-menu-red.svg") no-repeat top center;
        background-size: 40px 40px;
    }
    .sticky-mobile .btn-light {
        color: #fff;
        background-color: #EF4326;
        border-color: #EF4326;
    }
    .sticky-mobile .btn-light:hover {
        color: #fff;
        background-color: #FDC400;
        border-color: #FDC400;
    }
    .price-box-descktop {
        display: none;
    }
    .price-box-mobile {
        display: block !important;
        position: relative;
        float: left;
        width: 100%;
    }
    .form-check-label {
        margin-bottom: 0;
        font-size: 12px;
        color: #EF4326;
    }
    .form-link {
        color: #EF4326;
        text-decoration: none;
        font-size: 12px;
    }
    .form-link:hover {
        color: #FDC400;
        text-decoration: none;
    }
    .login-screen--logo {
        width: 180px;
        display: block;
        position: relative;
        float: none;
        margin: 0 auto 20px;
    }
}
button:focus {
    outline: none;
}
.btn-plan-mobile {
    margin: 0 auto 80px;
}
.price-box-mobile-header {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #EF4326;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.mobile-item-price {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    padding: 20px 10px 5px;
    border-radius: 15px;
    transition: all 0.3s;
    cursor: pointer;
    border: 2px dashed #C7C7C7;
    margin-bottom: 20px;
    margin-top: 80px;
}
.mobile-item-price .screen-04--price-title {
    color: #EF4326;
    font-size: 28px;
    display: block;
    position: relative;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.price-box-mobile {
    display: none;
}
.mobile-menu {
    display: none;
}

/* menu */
.popup-uslugi {
    display: block;
    position: fixed;
    float: left;
    width: 100%;
    height: 358px;
    right: 0;
    top: -400px;
    bottom: 0;
    padding: 10px 0px 0px;
    z-index: 1999;
    background: #FAF1E5;
    opacity: 1;
    border-radius: 0 0 25px 25px;
    transition:.5s;
}
.popup-uslugi-on {
    display: block;
    position: fixed;
    float: left;
    padding: 10px 0px 0px;
    right: 0;
    height: 358px;
    width: 100%;
    top: 0;
    bottom: 0;
    background: #FAF1E5;  /* fallback for old browsers */
    border-radius: 0 0 25px 25px;
    z-index: 1999;
    -webkit-animation: popup-slide-on 0.3s ease;
    animation: popup-slide-on 0.3s ease;
}

@-webkit-keyframes popup-slide-on {
    0% {top: -358px;opacity: 1;}
    100% {top: 0;opacity: 1;}
}
@keyframes popup-slide-on {
    0% {top: -358px;opacity: 1;}
    100% {top: 0;opacity: 1;}
}
@-webkit-keyframes popup-slide-offf {
    0% {top: 0;opacity: 1;}
    100% {top: -358px;opacity: 1;}
}
@keyframes popup-slide-offf {
    0% {top: 0;opacity: 1;}
    100% {top: -358px;opacity: 1;}
}